#canvas_bars {
  width: 350px;
  height: 220px;
  background-color: #f7f7f7;
  border: 1px solid darkred;
}

#canvas_choro {
  width: 350px;
  height: 280px;
  background-color: #f7f7f7;
  border: 1px solid beige;
}

#tooltip {
  position: absolute;
  visibility: hidden;
}

#btnGroup {
  display: flex;
  background-color: #f7f7f7;
  width: 350px;
}